*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
/*.navbar{
    position: fixed;
    top: 0;
    display: flex;
    height: 65px;
    background: rgb(0, 0, 0, 0.7)
}*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%
}
.header-text{
    margin-top:15%;
    font-size:30px;
 }
 .header-text h1{
    font-size:60px;
    margin-top:20px;
 }
 .header-text h1 span{
    color:#ff004f;
 }
.moving-text span{
    font-size: 32px;
}
 /*-----------about-----------*/
 #about{
    height: 100vh;
    background-color: #262626;
    padding: 80px 0; 
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    padding-bottom: 18px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin:10px 0;
}
.tab-contents ul li span{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#education span{
    color: #ff004f;
    font-size: 18px;
    font-weight: 500;
}
#internship span{
    color: #ff004f;
    font-size: 18px;
    font-weight: 500;
}
#education ul li{
    list-style: none;
}
#internship .internship{
    list-style: none;
}
#skills li{
    list-style: none;
}



/*----------Progress bar-------*/
.container .tab-contents .progress-line{
    position: relative;
    height: 5px;
    width: 100%;
    background: #050001;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgb(0, 0, 0, 0.5),
                      0px 1px rgb(#080808); 
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span{
    height: 100%;
    width: 80%;
    margin-top: 1px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.tab-contents .progress-line.vbnet span{
    width: 85%;
}
.tab-contents .progress-line.mysql span{
    width: 70%;
}
.tab-contents .progress-line.wordpress span{
    width: 85%;
}
.tab-contents .progress-line.cplusplus span{
    width: 75%;
}
.tab-contents .progress-line.c span{
    width: 60%;
}
.tab-contents .progress-line.Java span{
    width: 50%;
}
.tab-contents .progress-line.htmlcss span{
    width: 70%;
} 

.tab-contents .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -5px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #ff004f;
    opacity: 0;
    animation: showtText2 0.5s 1.5s linear forwards;
}
.tab-contents .progress-line span::after{
    position: absolute;
    right: 0;
    top: -18px;
    background: #ff004f;
    font-weight: 500;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 4px;
    opacity: 0;
    animation: showtText2 0.5s 1.5s linear forwards;
}
@keyframes showtText2{
    100%{
        opacity: 1;
    }
}
.tab-contents .progress-line.vbnet span::after{
    content: "90%";
}
.tab-contents .progress-line.mysql span::after{
    content: "70%";
}
.tab-contents .progress-line.wordpress span::after{
    content: "90%";
}
.tab-contents .progress-line.cplusplus span::after{
    content: "75%";
}
.tab-contents .progress-line.c span::after{
    content: "60%";
}
.tab-contents .progress-line.Java span::after{
    content: "50%";
}
.tab-contents .progress-line.htmlcss span::after{
    content: "70%";
}

 /*-----------Employment History-----------*/
 #employment{
    height: 100vh;
    padding: 30px 0;
 }
 .employment-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
    margin-top: 50px;
   
 }
 .employment-list div{
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 100;
    color: #ababab;
    border-right: 10px;
    text-align: justify;
    transition: background 0.5s, transform 0.5s;
    border-radius: 10px;
}
.employment-list div h2{
    font-size:30px;
    font-weight:500;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}
.employment-list div:hover{
    transform:translateY(-10px);
}
.employment-list div h2:hover{
    color: #ff004f;
}
.employment-list p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
/*-----------Contacts-----------*/
#contact{
    height: 100vh;
 }
 .contact-left{
    flex-basis: 35%;
 }
 .contact-right{
    flex-basis: 60%;
 }
 .contact-left p{
    margin-top: 30px;
 }
 .contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
 }
 .social-icons{
    margin-top: 30px;
 }
 .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
 }
 .social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
 }
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;    
    color: #ff004f;

}